@model VMArticleList

<head>
	<link rel="stylesheet" href="~/css/articleListStyle.css" />
	<title>Makaleler</title>
</head>
<body>

	<div style="height:100px;"></div>

	<div class="articles-container">
		@foreach (var article in Model.Articles)
		{
			<div class="article-card">
				<div class="image-container">
					<img src="~/images/@article.Image.FileName" alt="Article Image">
				</div>
				<div class="content">
					<span class="category">@article.Category.Name</span>
					<a asp-controller="Article" asp-action="Detail" asp-route-Id="@article.Id"><h1>@article.Title</h1></a>
					<p>@article.Content.Substring(0, Math.Min(article.Content.Length, 100)) ...</p>
					<div class="meta">
						<span class="views"><i class="fa-solid fa-eye"></i> @article.ViewCount Görüntülenme</span>
						<span class="date">@article.CreatedDate.ToString("dd/MM/yyyy")</span>
						<span class="author"> By @article.User.FirstName @article.User.LastName</span>
					</div>
				</div>
			</div>
		}
	</div>

	<ul class="pagination justify-content-center mb-4 mt-4 btn-block">

		@if (Model.ShowPrevious)
		{
			<li class="page-item">
				<a class="page-link" asp-route-currentPage="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize"> Önceki </a>
			</li>
		}
		@for (int i = 1; i <= Model.TotalPages; i++)
		{
			<li class="page-item @(i == Model.CurrentPage ? "active" : "")">

				<a class="page-link" asp-route-currentPage="@i" asp-route-pageSize="@Model.PageSize"> @i </a>
			</li>
		}
		@if (Model.ShowNext)
		{
			<li class="page-item">
				<a class="page-link" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize"> Sonraki </a>
			</li>
		}

	</ul>

</body>

@section Scripts {
	<script src="~/js/socialmediaLinks.js"></script>
	<script>
		var app = app || {}
		app.Urls = app.Urls || {}

		app.Urls.socialLinksUrl = "@(Url.Action("GetSocialMediaLinks", "About"))";
	</script>
}
